:root {
    --text: rgb(22,22,22); /* rgb(240,240,240);*/
    --background: rgb(245,245,245); /*rgb(22,22,22)*/
    --card: rgb(210,210,210); /*rgb(51,51,51)*/
    --input: rgb(220,220,220); /*91,91,91*/
    --accent: #26A69A; /*283593*/
}
body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Work Sans', sans-serif;
    padding: 15px;
    padding-top: 5px;
}
h1,h2,h3,h4 {
    font-family: 'Montserrat', 'Work Sans', sans-serif;
}
.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 2px;
    margin-top: 0px;
}

.tryCenter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 720px) {
    .maybeRight {
        float: right;
        width: 35%;
    }

    .maybeLeft {
        float: left;
        width: 100%;
        margin-left: 0px;
    }

    .tryCenter {
        display: flex;
        float: left;
        align-content: baseline;
        justify-content: normal;
        width: 65%;
    }
}

@media only screen and (max-width: 720px) {
    .maybeRight {
        width: 100%;
        float: left;
    }

    .maybeLeft {
        float: left;
        width: 100%;
    }
}

.insideContainer {
    background-color: var(--card);
    border-radius: 8px;
    width: 90%;
    padding: 25px;
}
h2 {
    margin-top: 0px;
}

input {
    margin-left: 15px;
    width: 42%;
    background-color: var(--input);
    color: var(--text);
    padding-left: 7px;
    padding-right: 7px;
}

input[type=checkbox] {
    width: auto;
}

input[type=range] {
    accent-color: var(--accent);
    padding: 0px;
}

select {
    height: 25px;
    padding-left: 2px;
    padding-right: 4px;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--input);
    color: var(--text);
}

button {
    background-color: var(--input);
    color: var(--text);
    height: 50px;
    width: 35%;
    border-radius: 8px;
    color: rgb(240, 240, 240);
    margin-right: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.9rem;
    font-family: 'Work Sans', sans-serif;
    border: 2px var(--input) solid;
}

a {
    color: var(--accent)
}
@keyframes brightnessAnimation {
    from {filter: brightness(100%); -webkit-filter: brightness(100%);}
    to {filter: brightness(130%); -webkit-filter: brightness(130%);}
}
@keyframes brightnessAnimationBack {
    from {filter: brightness(130%); -webkit-filter: brightness(130%);}
    to {filter: brightness(100%); -webkit-filter: brightness(100%);}
}
button:hover {
    cursor: pointer;
    filter: brightness(80%);
}
.hoverAnimate:hover {
    animation-name: brightnessAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    filter: brightness(130%);
}
.hoverAnimateBack {
    animation-name: brightnessAnimationBack;
    animation-duration: 0.35s;
    animation-iteration-count: 1;
    filter: brightness(100%);
}
.accent {
    background-color: var(--accent);
    border-color: var(--accent);
}
progress {
    width: 80%;
    height: 15px;
    border-radius: 8px;
}

.half {
    width: 60%;
    /* Just changed, it looks better */
    height: 20px;
    border-radius: 8px;
}

dialog {
    background-color: var(--card);
    border-radius: 8px;
    border-color: var(--text);
    color: var(--text);
    max-height: 80vh;
    overflow-y: show;
    position: fixed;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}
.link {
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

.buttonContainer {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text)
}

dialog {
    top: 50%;
    bottom: 50%;
    margin-left: 5%;
    margin-right: 5%;
    text-overflow: clip;
}

.dialogInternal {
    height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}
 .right {
    margin-right: 25px;
    text-decoration: underline;
 }
 a:hover {
    cursor: pointer;
    filter: brightness(80%);
 }
.modechange {
    float: right
}
.modechange:hover {
    cursor: pointer
}
.dialogColor {
    width: 15%;
    background-color: var(--background);
    border-radius: 8px;
}